body{
	text-align: center;
	background-color:rgba(100,100,100,0.2);
}
h1{
	font-size: 3rem;
	font-family: Brushstroke, fantasy;
	color: gold;
	background-image: url("Images/banner.jpg");
	background-repeat: no-repeat;
	padding: 5rem;
	border-radius: 15px;
	stroke: white;
	stroke-width: 3px;
	text-shadow: rgba(50,50,50,0.78) 4px -1px;
}
.showCards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.card{
	display: flex;
	flex-direction: column;
	align-items: center;
}
img{
	max-width: 60%;
	height: auto;
	align-items: center;
}