body{
	text-align: center;
	background-color:rgba(100,100,100,0.2);
	display: block;
}
h1{
	font-size: 3rem;
	font-family: Brushstroke, fantasy;
	color: gold;
	background-image: url("Images/banner.jpg");
	background-repeat: no-repeat;
	padding: 5rem;
	border-radius: 15px;
	stroke: white;
	stroke-width: 3px;
	text-shadow: rgba(50,50,50,0.78) 4px -1px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
img{
	max-width: 60%;
	height: auto;
	align-items: center;
	margin-bottom: 0px;
}
img:hover{
	max-width: 80%;
}
}
input{
	border-radius: 20px;
	border-style: none;
	padding: 6px;
	min-width: 30rem;
	align-self: center;
}
button{
	border-radius: 20px;
	background-color: forestgreen;
	border-style:none;
	padding: 5px;
	text-decoration-style: bold;
	font-family: sans-serif;
	color: white;

}
h6{
	max-width: 15rem;
	padding: 4px;
	color: rgba(10,10,10,0.9);
	font-size: 1em;
	margin-top: 0px;
}
h3{
	color: rgba(10,10,10,0.9);
}
.showCards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card{
	display: flex;
	flex-direction: column;
	align-items: center;
}